.cargo/
__pycache__/
node_modules/
.npm/
.cache/
*.whl
__pycache__/
node_modules/
.npm/
.cache/
*.whl
*.zip
*.tar.gz
*.db
cloudflared
bore
ngrok*
*.log
*.zip
*.tar.gz
*.db
cloudflared
bore
ngrok*
*.log

.ollama/
.ssh/
.matplotlib/
.cache/
.cargo/
storage/
